{% extends "thehichannel/base.html" %}
{% load static from staticfiles %}
{% load humanize %}

{% block content %}
{% if user.id %}
<form id="hiform">
  <div class="form-group">
    <label for="message">Say hi:</label>
    <input class="form-control" type="text" id="message" placeholder="hi">
  </div>
  <button class="btn btn-default" type="submit" id="say-hi">hi</button>
</form>
{% endif %}
<h1>Hi</h1>
<div id="hi-list">
  {% for hi in his %}
  <blockquote>
    {{ hi.hi }}
    <br>
    <small><a href="/user/{{ hi.sender }}">{{ hi.sender }}</a>, {{ hi.timestamp|naturaltime }}</small>
  </blockquote>
  {% endfor %}
</div>
<div class="pagination">
  <span class="step-links">
    {% if his.has_previous %}
    <a href="?page={{ his.previous_page_number }}">◀</a>
    {% endif %}

    <span class="current">
      Page {{ his.number }} of {{ his.paginator.num_pages }}
    </span>

    {% if his.has_next %}
    <a href="?page={{ his.next_page_number }}">▶</a>
    {% endif %}
  </span>
</div>
<script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
<script type="text/javascript">

// When we're using HTTPS, use WSS too.
var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
var socket = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host);

// What to do when a message comes through the websocket
socket.onmessage = function(message) {
  var data = JSON.parse(message.data);
  var hilist = $("#hi-list");
  var block = $('<blockquote></blockquote').text(data['hi']);
  var sender = $('<a>', {text: data['sender'], href: '/user/'+data['sender']})
  var note = $('<small></small>').text(', '+data['timestamp']).prepend(sender);
  block.append(note);
  hilist.prepend(block);
};

// What to do when the socket opens
// socket.onopen = function() {
//   console.log('socket open!');
//   socket.send("hello world");
// }

// Form submission
$("#hiform").on("submit", function(event) {
  var message = {
    sender: {{ user.id }},
    message: $('#message').val(),
  }
  socket.send(JSON.stringify(message));
  $("#message").val('').focus();
  return false;
});

</script>
{% endblock %}
