{% extends "thehichannel/base.html" %}

{% block content %}
<h1>{{ user }}</h1>
<div id="api-token">
  <div class="">
    <a href="/account/password/change/">Change password</a>
  </div>
  <h2>API Token</h2>
  {% if user.auth_token %}
  <div class="">
    <p>Token: {{ user.auth_token }}</p>
    <p><a class="usa-button" href="/account/refresh_token/">Refresh token</a></p>
  </div>
  {% else %}
  <div class="">
    <p>No API Token</p>
    <p><a class="usa-button" href="/account/refresh_token/">Get a token</a></p>
  </div>
  {% endif %}
  <h2>Two-Factor Authentication</h2>
  {% for device in user.totpdevice_set.all %}
  {% if device.confirmed %}
  <div class="">
    <p>2FA Enabled!</p>
    <p><a href="/account/two_factor/backup_tokens/">Get backup tokens</a></p>
    <p><a href="/account/two_factor/remove/">Disable 2FA</a></p>
  </div>
  {% else %}
  <div class="">
    <a href="/account/two_factor/setup/">Set up 2FA</a>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
